@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", serif;
    font-weight: 400;
}

ul {
    list-style: none;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 16px;
}


main .container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}



.product {
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    &-item {
        position: relative;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 8px;

        .icon {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    &-picture {
        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            display: block;
        }
    }

    &-info {
        padding: 24px 16px;
    }

    &-title {
        font-size: 14px;
        color: #59606D;
    }

    &-price {
        color: #1F1F1F;
        font-size: 14px;
        font-weight: bold;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff50;
    z-index: 9999;

    display: flex;
    justify-content: flex-end;

    .content {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #fff;
        padding: 52px 48px;
        max-width: 460px;

        border-radius: 8px 0 0 8px;
    }
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
    }

    &__empty {
        font-size: 22px;
    }


    &-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__title {
            color: #59606D;
            font-size: 18px;
        }

        &__items {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .item {
            border-radius: 8px;
            background-color: #fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            display: flex;
            align-items: center;
            padding: 12px 18px;

            img {
                width: 70px;
                height: 90px;
                object-fit: cover;
                display: block;
            }

            &__info {
                max-width: 170px;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            &__title {
                color: #59606D;
                font-size: 14px;
            }

            &__price {
                span {
                    font-weight: bold;
                    font-size: 14px;
                    color: #1F1F1F;
                }
            }
        }
    }
}

.btn {
    background: none;
    border: none;
    font-size: 16px;

    &-black {
        background-color: #1F1F1F;
    }

    &-text-white {
        color: white;
    }

    &-large {
        padding: 14px 16px;
    }

    &-radius {
        border-radius: 8px;
    }
}