.filter {
    position: relative;

    &__label {
        color: #1F1F1F;
        font-size: 16px;

        span {
            color: #59606D;
        }
    }

    &__dropdown {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #fff;
        padding: 8px 0 12px 0;
        border-radius: 8px;
        position: absolute;
        margin-top: 6px;
        width: 100%;
        cursor: context-menu;

        ul  li {
            color: #959DAD;
            font-size: 14px;
            transition: 0.1s;
            padding: 4px 12px;

            &:hover {
                background-color: #F8F8F8;
                color: #1F1F1F;
            }
        }
    }
}
