* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.shape {
    width: 100px;
    height: 100px;
    background-color: red;
}

.circle {
    border-radius: 50%;
}

.rectangle {
    width: 200px;
}